<div class="dashboard-container">

  <h2>Dashboard</h2>

  <!-- Cards -->
  <div class="cards">

    <div class="card">
      <h3>Total Expense</h3>
      <p>₹{{ totalExpense }}</p>
    </div>

    <div class="card">
      <h3>Monthly Expense</h3>
      <p>₹{{ monthlyExpense }}</p>
    </div>

    <div class="card">
      <h3>Remaining Budget</h3>
      <p>₹{{ remainingBudget }}</p>
    </div>

  </div>

  <!-- Charts Section -->
  <div class="cards">

    <div class="card">
      <h3>Monthly Trend</h3>
      <canvas id="barChart"></canvas>
    </div>

    <div class="card">
      <h3>Category Distribution</h3>
      <canvas id="pieChart"></canvas>
    </div>

  </div>

  <!-- Table -->
  <h3>Recent Expenses</h3>

  <table>

    <thead>
      <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let e of expenses">
        <td>{{ e.title }}</td>
        <td>₹{{ e.amount }}</td>
        <td>{{ e.category }}</td>

        <td>
          {{ e.date | date:'dd MMM yyyy' }} <br>
          <small>{{ e.date | date:'hh:mm a' }}</small>
        </td>

        <td>
          <button (click)="viewExpense(e)">View</button>
          <button (click)="editExpense(e)">Edit</button>
          <button (click)="deleteExpense(e.id)">Delete</button>
        </td>
      </tr>

    </tbody>

  </table>

</div>